<configuration>

    <!-- internal files cannot be exported directly, use provider -->
    <property name="PATH_FILES" value="/data/data/com.github.openwebnet/files/log/debug.log" />
    <!-- need to have an external sd card mounted -->
    <property name="PATH_SDCARD" value="/mnt/sdcard/openwebnet.log" />

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>${PATH_SDCARD}</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="file"/>
        <appender-ref ref="logcat"/>
    </root>

</configuration>